@font-face {
  font-family: 'Brooklyn';
  src: url('path/to/brooklyn.woff2') format('woff2'),
       url('path/to/brooklyn.woff') format('woff');

}

@font-face {
  font-family: 'Poppins';
  src: url('path/to/poppins.woff2') format('woff2'),
       url('path/to/poppins.woff') format('woff');
}

.skip {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.skip:focus {
  position: static;
  width: auto;
  height: auto;
}

body{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background: #f4f4f4;
  margin: 40px;
  padding: 3;
}

ul {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: start;
  list-style-type: none;
}

  li {
    padding: 6px 0;
  }

    a {
      position: relative;
      display: block;
      padding: 4px 0;
      font-family: Poppins, sans-serif;
      color: #FE4164;
      font-size: 1.2em;
      font-weight: 300;
      text-transform: uppercase;
      transition: 0.5s;
    }


      a::after {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 3px;
        background: white;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.5s;
      }

      a.active {
        color: palevioletred;
        font-weight: 700;
      }

      &:hover {
        color: palevioletred;
      }
      
     

      
    
  

  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .grid-container img {
    max-width: 100%;
    height: auto;
    border: 2px solid #ecc5c0;
  }
  .grid-container img:hover {
    border: 50px solid linear-gradient(90deg, rgba(244,146,214,1) 0%, rgba(177,141,249,1) 100%);
    border-radius: 5px;
    box-shadow: 0 0 50px violet;
    transition: 0.7s;
  }

  

  .fact {
    display: grid;
    grid-template-columns: (1fr, 2fr);
    grid-gap: 10px;
  }
  
  .fact li {
    padding: 20px;
    text-align: center;
    border: 5px solid #f1a886;
    border-radius: 5px;
    background-color: #ffe8f8;
    transition: transform .5s; 
    

  }
  
  .fact li:hover {
    transform: scale(1.04);
  
  }
  
    
  



